body, table {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: Whitney-Book,Helvetica Neue,Helvetica,Arial,sans-serif;
	src: url("font.otf") format("opentype");
	scrollbar-width: thin;
	scrollbar-color: black grey
}

table {
	width:100%;
	height: 100vh;
	border-collapse: collapse;
}
.serverlist {
	width: 70px;
	height: 100vh;
	vertical-align: top;
}
.dmlist {
	width: 240px;
	vertical-align: top;
	padding-top: 15px;
}
.you {
	height: 52px;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 1px;
	padding: 0 10px;
}
.username {
	display: block;
    max-width: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
    font-weight: 500;
}
.discriminator {
	display: block;
	font-size: 12px;
	line-height: 13px;
	color: #b9bbbe;
}
.avatarSmall {
	background-size: 30px 30px;
    float: left;
    height: 30px;
    margin-right: 10px;
    width: 30px;
	border-radius: 50%;
}
.guild {
	height: 50px;
    position: relative;
    width: 50px;
    z-index: 1;
}
.searchbar {
	background-color: transparent;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    height: 48px;
    padding: 0 12px;
    position: relative;
    z-index: 1;
}
.friendsbar {
	background-color: transparent;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    height: 48px;
    padding: 0 8px 0 12px;
    position: relative;
    z-index: 1;
}
.guildInner {
	cursor: pointer;
    font-size: 18px;
    overflow: hidden;
    text-align: center;
}
.searchbarInner {
	padding: 2px;
    position: relative;
	background: rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.1);
	border-radius: 4px;
	text-align: center;
}
.friendsbar .tab-bar-item {
	border-radius: 4px;
    color: #99aab5;
    cursor: pointer;
    line-height: 18px;
    margin: 0 8px;
    min-width: 40px;
    padding: 2px 8px;
    text-align: center;
}
.primary {
	background-color: #7289da;
    color: #fff;
	margin: 3px;
}
.home-icon {
	box-sizing: border-box;
    color: #fff;
    height: 100%;
    width: 100%;
}
.friends-online {
	color: hsla(0,0%,100%,.3);
    font-size: 10px;
    font-weight: 500;
    line-height: 130%;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 50px;
    word-wrap: normal;
}
.center {
	float: center;
	text-align: center;
}
.guild-seperator {
	background: none;
    height: 2px;
    margin-bottom: 10px;
    position: relative;
    width: 50px;
}
.channel {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.25em;
    overflow: hidden;
	position: relative;
	text-decoration: none;
	padding-left: 20px;

	opacity: 0.7;
	transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
}
.channel:hover {
	opacity: 1;
}
.channel img, .channel i {
	padding-left: 4px;
}
.channel img {
	height: 28px;
	width: 24px;
}
.channel a {
	align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
	font-weight: 400;
    height: 40px;
    margin: 1px 0 1px 8px;
    padding: 8px;
    text-decoration: none;
}
.channel a .link-button-icon {
	height: 24px;
    margin-right: 14px;
    opacity: .6;
    transition: opacity .05s;
    width: 24px;
	margin-left: 4px;
}
.friends-name {
	color: #f6f6f7;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
	white-space: nowrap;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
	text-decoration: underline;
}


.tabSeperator {
	background-color: hsla(0,0%,100%,.1);
	height: 22px;
    width: 1px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}

.nofriends {
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-top: 20px;
    width: 300px;
}


header {
	color: #fff;
    cursor: default;
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
    opacity: .3;
    overflow: hidden;
    padding: 9px 20px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: opacity .15s ease;
    white-space: nowrap;
}

.noFriendtext {
	font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin: 20px 50px;
}


        body{ 
			font: 14px sans-serif;
			color: #99AAB5;
			background-color: #2C2F33;
			justify-content:center;
			align-items:center;
			margin: auto;
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
		}      

		.media-image{ 

			justify-content:top;
			align-items:top;
			margin: auto;
			position: fixed;
			top:10%;			

		}

		p.subtext{ 
			font: 12px sans-serif;
			color: #72767d;
			margin: auto;
		}
		p.sublogtext{ 
			font: 14px sans-serif;
			color: #72767d;
			margin: auto;
			
		}			
		p.headersubtext{ 
			text-align: center;
			font: 18px sans-serif;
			line-height: 22px;
			color: #72767d;
			margin: auto;
			padding-bottom: 20px;
		}
		
		h2.headertext {
			text-align: center;
			color: #FFFFFF;
			font-weight: 300;
		    font-size: 26px;
			line-height: 32px
		}
		input[type=text]{
			box-sizing: border-box;
			color: white;
			border: 3px solid #23272A;
			border-width: 1px;
			width: 100%
		}			
		input[type=email]{
			box-sizing: border-box;
			color: white;
			border: 3px solid #23272A;
			border-width: 1px;
			background-color: #2C2F33;
			width: 100%
		}		
		input:focus[type=text]{
			box-sizing: border-box;
			border: 3px solid #7289DA;
			border-width: 1px;
			background-color: #2C2F33;
			color: white;
			width: 100%
		}		
		input:focus[type=email]{
			box-sizing: border-box;
			border: 3px solid #7289DA;
			border-width: 1px;
			background-color: #2C2F33;
			color: white;
			width: 100%
		}			
		input:focus[type=password]{
			box-sizing: border-box;
			border: 3px solid #7289DA;
			border-width: 1px;
			background-color: #2C2F33;
			color: white;
			width: 100%
		}	
		input[type=password]{
			box-sizing: border-box;
			border: 3px solid #23272A;
			border-width: 1px;
			background-color: #2C2F33;
			color: white;
			width: 100%
		}
		
		h5{
			color: #b9bbbe;
			text-transform: uppercase;
		}		
		.linksub.a:link {
			color: #b9bbddbe;
			text-transform: uppercase;
		}
		
		label{
			color: #b9bbbe;
			text-transform: uppercase;
			font-size: 12px;
			text-align: left;
			letter-spacing: .5px
		}
		
        .wrapper{ 
		width: 450px; 
		padding: 20px;
		border-radius: 25px;
		margin: auto;
		max-width: 485px
		} 
		
		.link{ 
		display: block;
		margin: auto;
		color: #FFFFFF;

		}
		.btn-primary, .btn-primary:active, .btn-primary:visited {
		background-color: #7289DA !important;
		font-size: 16px;
		line-height: 24px
		}
		.btn-primary:hover {
		background-color: #677bc4 !important;
		font-size: 16px;
		line-height: 24px
		}
		
		.btn {
			background-color: #7289da;
			border-radius: 3px;
			color: #fff;
			cursor: pointer;
			font-size: 14px;
			font-weight: 500;
			margin-right: 10px;
			padding: 4px 8px;
			border: 0;
			outline: 0;
		}

.friendsTable {
	-webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-transform: translateZ(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
}

.friendsTableHeader {
	-webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    border-bottom: 1px solid #e9e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 8px 30px;
}

.tooltip {
	position: relative;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 20;
	width: 60px;
	bottom: 100%;
	left: 50%;
	margin-left: -35px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }

  .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
  }
  
  .grid-item {
	text-align: center;
	color: white;
	padding: 5px;

	opacity: 0.7;
	transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
  }

  .grid-item:hover {
	opacity: 1;
}

.pageContents {
	background: #292D30;
	padding: 20px;
	margin: 20px;
	border-radius: 25px;
	text-align: left;
	font-size: 16px;
}

.pageContents a {
	color: #4E72FF;
}