table {
	color:white;
}
.dmlist {
	background: #16171A;
	color: white;
}
.searchbar {
	background: #272A2E;
	color: white;
}
.chat {
	background: #202225;
	color: white;
}
.youbase {
	background: #181A1D;
}
.friendsbar {
	background: #272A2E80;
	box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}
.noFriendtext {
	color: hsla(0,0%,100%,.4);
}