body {
	color: #00DDDD;
	width: 100%; }

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: #2f89fc; }
	a:hover, a:focus {
		text-decoration: none !important;
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none; }

button {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease; }
	button:hover, button:focus {
		text-decoration: none !important;
		outline: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important; }

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; }

#sidebar {
	min-width: 300px;
	max-width: 300px;
	background: #16171A;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	min-height: 100vh; }
	#sidebar.active {
		margin-left: -300px; }
		#sidebar.active .custom-menu {
			margin-right: -25px; }
		#sidebar.active .btn.btn-primary:before {
			content: "\f054";
			font-family: "ForkAwesome";
			left: 2px !important; }
		#sidebar.active .btn.btn-primary:after {
			display: none; }
	#sidebar ul.components {
		padding: 0;
		overflow:auto; }
	#sidebar ul li {
		font-size: 17px; }
		#sidebar ul li > ul {
			margin-left: 10px; }
			#sidebar ul li > ul li {
				font-size: 14px; }
		#sidebar ul li a {
			padding: 5px 20px;
			display: block;
			color: rgba(255, 255, 255, 0.6); }
			#sidebar ul li a span.notif {
				position: relative; }
				#sidebar ul li a span.notif small {
					position: absolute;
					top: -3px;
					bottom: 0;
					right: -5px;
					width: 12px;
					height: 12px;
					content: '';
					background: red;
					border-radius: 50%;
					font-family: "Poppins", Arial, sans-serif;
					font-size: 8px; }
			#sidebar ul li a:hover {
				color: #fff;
				background: #1C9934; }
		#sidebar ul li.active > a {
			background: transparent;
			color: #fff; }
			#sidebar ul li.active > a:hover {
				background: #1C9934; }
	@media (max-width: 991.98px) {
		#sidebar {
			margin-left: -300px;
			position: fixed; }
			#sidebar.active {
				margin-left: 0; }
			#sidebar .custom-menu {
				margin-right: -25px !important;
				top: 10px !important; } }
	#sidebar .custom-menu {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		margin-right: -25px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s; }
		@media (prefers-reduced-motion: reduce) {
			#sidebar .custom-menu {
				-webkit-transition: none;
				-o-transition: none;
				transition: none; } }
		#sidebar .custom-menu .btn.btn-primary {
			background: #1C9934;
			border-color: transparent;
			position: relative;
			color: #000;
			width: 30px;
			height: 30px; }
			#sidebar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				bottom: 0;
				font-family: "ForkAwesome";
				color: #fff; }
			#sidebar .custom-menu .btn.btn-primary:after {
				content: "\f053";
				right: 2px; }

.bg-wrap {
	width: 100%;
	background-image: url('../images/bg_1.png');
	z-index: 0; }
	.bg-wrap:after {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background: #000;
		opacity: .3; }
	.bg-wrap .user-logo .img {
		width: 200px;
		height: 200px;
		background-image: url('../images/logo.png');
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 10px; }
	.bg-wrap .user-logo h4 {
		color: #fff;
		font-family: 'Comfortaa', cursive;
		font-weight: 50;
		font-style: normal; }

a[data-toggle="collapse"] {
	position: relative; }

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); }

@media (max-width: 991.98px) {
	#sidebarCollapse span {
		display: none; } }

#content {
	background-color: #202225;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; }

.btn.btn-primary {
	background: #1C9934;
	border-color: #1C9934; }
	.btn.btn-primary:hover {
		background: #2DAA45 !important;
		border-color: #2DAA45 !important; }