:root {
	--main-bg-color: #000;
	--menu-element: #1E2025;
	--darker-menu-element: #0D1014;
	--menu-element-text-color: white;
	--lighter-menu-element: #2E3136;
	--gradient-top: #101114;
	--text-color: #CCC;
	--background: "#000 center top/cover no-repeat";
	--background-filter: initial;
	--sidebar-link: rgba(255, 255, 255, 0.6);
	--sidebar-link-active: white;
	--sidebar-link-active-weight: normal;
	--shadow-color: transparent;
	--hover-color: rgba(255, 255, 255, 0.4);
	--light-hover-color: rgba(255, 255, 255, 0.2);
}
