:root {
	--main-bg-color: #202225;
	--sidebar-bg-color: #202225F5;
	--sidebar-image: url(/assets/images/sheikah.jpg) center top/contain repeat;
	--menu-element: #2F3136;
	--sidebar-theme-switcher: url(/assets/images/themes/discord.png) center top/cover no-repeat;
	--darker-menu-element: #1E2025;
	--menu-element-text-color: white;
	--lighter-menu-element: #3F4247;
	--gradient-top: #202225;
	--text-color: white;
	--background: #36393F center top/cover no-repeat;
	--background-filter: initial;
	--sidebar-link: rgba(255, 255, 255, 0.6);
	--sidebar-link-active: white;
	--sidebar-link-active-weight: normal;
	--shadow-color: transparent;
	--hover-color: rgba(255, 255, 255, 0.4);
	--light-hover-color: rgba(255, 255, 255, 0.2);
}
