<div class="container">
	<div class="carousel_ns" id="{{include.id}}">
		{% assign number = 1 %}
		{% for page in include.pages %}
			<input type="radio" name="slides" {% if number == 1 %}checked="checked"{% endif %} id="slide-{{number}}">
			{% assign number = number | plus: 1 %}
		{% endfor %}
		<ul class="carousel__ns__slides">
			{% for page in include.pages %}
				<li class="carousel__ns__slide">
					<figure>
						<div><img src="{{page[0]}}" alt=""></div>
						<figcaption>{{page[1]}}.</figcaption>
					</figure>
				</li>
			{% endfor %}
		</ul>
		<ul class="carousel__ns__thumbnails">
			{% assign number = 1 %}
			{% for page in include.pages %}
				<li><label for="slide-{{number}}"><img src="{{page[0]}}" alt=""></label></li>
				{% assign number = number | plus: 1 %}
			{% endfor %}
		</ul>
	</div>
</div>

<style>
	{% assign number = include.pages | size %}
	{% for page in include.pages %}
		#{{include.id}} > input:nth-of-type({{number}}):checked ~ .carousel__ns__slides .carousel__ns__slide:first-of-type {
			margin-left: -{{ number | times: 100 | minus: 100 }}%;
		}
		{% assign number = number | minus: 1 %}
	{% endfor %}

	{% assign number = 1 %}
	{% for page in include.pages %}
		#{{include.id}} > input:nth-of-type({{number}}):checked ~ .carousel__ns__thumbnails li:nth-of-type({{number}}) {
			box-shadow: 0px 0px 0px 5px var(--lighter-menu-element);
		}
		{% assign number = number | plus: 1 %}
	{% endfor %}
</style>