<div class="container">
	<div id="carousel1" class="carousel slide" style="max-height: 40vh;" data-ride="carousel">
		<div class="carousel-inner">
			{% assign number = 0 %}
			{% for page in include.pages %}
				<div class="carousel-item {% if number == 0 %}active{% endif %}">
					<img src="{{page[0]}}" class="d-block mx-auto" style="max-height: 40vh;" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<p>{{page[1]}}</p>
					</div>
				</div>
				{% assign number = number | plus: 1 %}
			{% endfor %}
		</div>

		<a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="row row-cols-4 row-cols-md-6 row-cols-lg-4 row-cols-xl-6 row-cols-xxl-9 g-4 carousel-thumbnails">
	{% assign number = 0 %}
	{% for page in include.pages %}
		<div class="col">
			<a class="card {% if number == 0 %}active{% endif %}" data-target="#carousel1" data-slide-to="{{number}}">
				<img src="{{page[0]}}" class="card-img-top" alt="...">
			</a>
		</div>
		{% assign number = number | plus: 1 %}
	{% endfor %}
</div>