.carousel-thumbnails .card img {
	display: block;
	object-fit: cover;
}

.carousel-caption {
	bottom: 0;
	position: static;
	padding-top: 0;
	padding-bottom: 0;
	color: var(--text-color);
}

.carousel-thumbnails {
	margin-top: 0;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
	opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
	opacity: .75;
}