.carousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

.carousel .carousel-indicators>li {
    width: 100px
}

.carousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

.carousel .carousel-indicators li.active img {
    opacity: 1
}

.carousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-caption p {
	text-align: center;
	background-color: rgba(0,0,0,.5);
}