:root {
	--close-menu-arrow: url("/assets/images/icons/icons8-back-48.png");
	--open-menu-arrow: url("/assets/images/icons/icons8-forward-48.png");
}

body {
	color: var(--text-color);
	text-shadow: var(--text-shadow);
	width: 100%;
	background-color: var(--main-bg-color);}

html {
	scroll-behavior: smooth; }

#tsparticles {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	filter: blur(2px) brightness(.90);
	-webkit-filter: blur(2px) brightness(.90);
}

.bg {
	background: var(--background);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -2;

	filter: var(--bg-filter);
	-webkit-filter: var(--bg-filter);
}

@media (min-width: 991.98px) {
	.bg {
		mask-image: var(--bg-mask);
		-webkit-mask-image: var(--bg-mask);
	}
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	text-decoration: none; }
	a:hover, a:focus {
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none; }

.btn {
	position: relative;
	overflow: hidden; }
	.btn .hamon {
		position: absolute; 
		border-radius: 50%; 
		/* To make it round */
		background-color: rgba(0, 0, 0, 0.3); 

		width: 100px; 
		height: 100px; 
		transform: translate(-50%, -50%) scale(0);
		animation: hamon 0.5s ease-out; }
		@keyframes hamon {
			to {
				transform: translate(-50%, -50%) scale(3);
				opacity: 0;
			}
		}

#sidebar {
	min-width: 225px;
	max-width: 225px;
	background: var(--sidebar-image);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-height: 100vh;
	z-index: 100;

	-moz-box-shadow:    3px 0 5px 0 var(--shadow-color);
	-webkit-box-shadow: 3px 0 5px 0 var(--shadow-color);
	box-shadow:         3px 0 5px 0 var(--shadow-color); }
	#sidebar .sidebar-contents {
		min-height: 100vh;
		height: 100%;
		background-color: var(--sidebar-bg-color);
		display: grid;
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 100%;}
	#sidebar.active {
		margin-left: -225px; }
		#sidebar.active .custom-menu {
			margin-right: -25px; }
		#sidebar.active .btn:before {
			content: '';
			background-image: var(--open-menu-arrow);
			background-size: 100% auto;
			left: 2px !important; }
		#sidebar.active .btn:after {
			display: none; }
	#sidebar ul#sidebarLinks li {
		font-size: 17.5px; }
		#sidebar ul#sidebarLinks li > ul {
			padding-top: 3px;
		}
		#sidebar ul#sidebarLinks li > ul li {
			margin-left: 10px;
			font-size: 15px;
			padding-bottom: 3px; }
		#sidebar ul#sidebarLinks li a {
			padding: 2.75px 20px;
			position: relative;
			display: flex;
			align-items: center;
			color: var(--sidebar-link);
			text-shadow: initial; }
			#sidebar ul#sidebarLinks li a picture {
				width: 17.5px;
				height: 17.5px;
				position: absolute;
				top: 0; }
			#sidebar ul#sidebarLinks li a .sidebar-text {
				margin-left: 25px;
			}
			#sidebar ul#sidebarLinks li a span.notif {
				position: relative; }
				#sidebar ul#sidebarLinks li a span.notif small {
					position: absolute;
					top: -3px;
					bottom: 0;
					right: 0px;
					width: 12px;
					height: 12px;
					font-family: "Poppins", Arial, sans-serif;
					font-size: 8px; }
			#sidebar ul#sidebarLinks li a:hover {
				background: var(--light-hover-color);
				border-color: var(--hover-color); }
		#sidebar ul#sidebarLinks li.active > a {
			color: var(--sidebar-link-active);
			font-weight: var(--sidebar-link-active-weight); }
	#sidebar .custom-menu {
		display: inline-block;
		position: absolute;
		top: 1rem;
		right: 0;
		margin-right: -15px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		z-index: 3; }
		@media (prefers-reduced-motion: reduce) {
			#sidebar .custom-menu {
				-webkit-transition: none;
				-o-transition: none;
				transition: none; } }
		#sidebar .custom-menu .btn {
			background: var(--menu-element);
			position: relative;
			border-width: .1rem;
			border-color: var(--darker-menu-element);
			width: 30px;
			height: 30px; }
			#sidebar .custom-menu .btn:hover {
				background: var(--lighter-menu-element); }
			#sidebar .custom-menu .btn:after, #sidebar .custom-menu .btn:before {
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				bottom: 0; }
			#sidebar .custom-menu .btn:after {
				content: '';
				background-image: var(--close-menu-arrow);
				background-size: 100% auto;
				right: 2px; }
	@media (max-width: 991.98px) {
		#sidebar {
			margin-left: -225px;
			position: fixed; }
			#sidebar .custom-menu {
				margin-right: -25px; }
			#sidebar.active .custom-menu {
				margin-right: -15px; }
				#sidebar .custom-menu .btn:before {
					content: '';
					background-image: var(--open-menu-arrow);
					background-size: 100% auto;
					right: 2px; }
					#sidebar .custom-menu .btn:after {
						display: none; }
			#sidebar.active {
				margin-left: 0; }
				#sidebar.active .btn:before {
					content: '';
					background-image: var(--close-menu-arrow);
					background-size: 100% auto; }
				#sidebar.active .btn:after {
					display: none; } }

#sidebar-logo {
	position: relative;
	min-height: 165px;
	background: linear-gradient(var(--gradient-top), rgba(0,0,0,0));
	display: grid;
	grid-template: 1fr / 1fr;
	place-items: center; }
	#sidebar-logo > * {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}
	#sidebar-logo picture {
		width: 165px;
		z-index: 2; }

#bubblesCanvas {
	z-index: 1;
}

#content {
	background-color: var(--background-filter);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-height: 100vh; }

.bttbtn {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50%;
	color: #FFF;
	padding: 8px; }
	.bttbtn:hover {
		color: #FFF; }

.card {
	background: var(--menu-element);
	color: var(--menu-element-text-color);
	text-shadow: var(--text-shadow);
	box-shadow: 5px 5px 5px var(--shadow-color) !important;
}

.card-img, .card-img-top {
	background: rgba(0, 0, 0, 0.6);
}

.card-img.invert, .card-img-top.invert {
	background: rgba(255, 255, 255, 0.4);
	filter: invert(100%)
}

.icon-invert {
	filter: invert(100%)
}

.card .card-body a {
	color: var(--menu-element-text-color);
	text-shadow: var(--text-shadow);
	text-decoration: underline;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.card .card-body a.h5:not(.card-header-icon):hover {
	text-decoration: underline !important;
	font-size: 1.3rem;
}

.card .card-body a.h5.card-header-icon:hover u {
	font-size: 1.3rem;
}

.card .cardShareLinks {
	justify-content: center;
	display: flex;
	align-items: center;
}

.card .cardShareLinks a img {
	width: 2em;
}

.card .cardShareLinks a .fa {
	font-size: 2em;
}

.mw-25 {
	max-width: 25%;
}

.anchor {
	float: left;
	margin-left: -1.75ex;
	opacity:0;
	z-index: 5;
	-webkit-transition:opacity .2s ease-in-out .1s;
	-moz-transition:opacity .2s ease-in-out .1s;
	-o-transition:opacity .2s ease-in-out .1s;
	transition:opacity .2s ease-in-out .1s
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
 opacity:1
}

.anchor img {
	width: 1.5ex;
	vertical-align: baseline;
	margin-right: .25ex;
}

.page-padding {
	width:100%;
	padding-top: 0.5rem;
	padding-left: 4.5rem;
	padding-right: 3.5rem;
}

.noAnchorsPadding {
	padding-left: 3rem;
	padding-right: 2.5rem;
}

@media (min-width: 991.98px) {
	.page-padding {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.noAnchorsPadding {
		padding-left: 3.5rem;
		padding-right: 3rem;
	}
}

pre {
	border-radius: 0.5rem;
	border-color: var(--lighter-menu-element);
	border-style: solid;
	border-width: .1rem;
	background-color: var(--menu-element);
	padding: 1rem;
	color: var(--menu-element-text-color);
}

img {
	max-width: 100%;
}

.themeDot {
	height: 2.3rem;
	width: 2.3rem;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	border-radius: 50%;
	display: inline-block;
}

.nstooltip {
	position: relative;
	transition: all .3s ease; }
	.nstooltip:before {
		content: "";
		position: absolute;
		opacity: 0;
		pointer-events: none;
		bottom: 0.7em;
		left: 50%;
		transform: translate3d(-50%, 0%, 0);
		transition: all .15s ease;
		transition-delay: .05s;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #282828 transparent transparent transparent;
		z-index: 1000; }
	.nstooltip:after {
		text-transform: none;
		content: attr(data-tooltip);
		font-size: 14px;
		position: absolute;
		color: #fff;
		background: #282828;
		padding: 4px 6px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		max-width: 200px;
		opacity: 0;
		pointer-events: none;
		left: 50%;
		top: 0;
		border-radius: 4px;
		z-index: 1000;

		transform: translate3d(-50%, 0%, 0);
		transition: all .15s ease;
		transition-delay: .05s; }
	.nstooltip:hover {
		background-color: rgba(0, 0, 0, 0.12); }
		.nstooltip:hover:before, .nstooltip:hover:after {
			opacity: 1; }
			.nstooltip:hover:before {
				transform: translate3d(-50%, calc(-100% - 20px), 0); }
			.nstooltip:hover:after {
				transform: translate3d(-50%, calc(-100% - 10px), 0); }

				blockquote {
					padding: 10px 20px;
					margin: 0 0 20px;
					border-left: 5px solid #eee
				}
				
				blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child {
					margin-bottom: 0
				}
				
				blockquote footer,blockquote small,blockquote .small {
					display: block;
					font-size: 80%;
					line-height: 1.42857143;
					color: #777
				}
				
				blockquote footer:before,blockquote small:before,blockquote .small:before {
					content: '\2014 \00A0'
				}
				
				.blockquote-reverse,blockquote.pull-right {
					padding-right: 15px;
					padding-left: 0;
					text-align: right;
					border-right: 5px solid #eee;
					border-left: 0
				}
				
				.blockquote-reverse footer:before,blockquote.pull-right footer:before,.blockquote-reverse small:before,blockquote.pull-right small:before,.blockquote-reverse .small:before,blockquote.pull-right .small:before {
					content: ''
				}
				
				.blockquote-reverse footer:after,blockquote.pull-right footer:after,.blockquote-reverse small:after,blockquote.pull-right small:after,.blockquote-reverse .small:after,blockquote.pull-right .small:after {
					content: '\00A0 \2014'
				}
				
				blockquote:before,blockquote:after {
					content: ""
				}

@media print {
	:root {
		--main-bg-color: white;
		--sidebar-bg-color: white;
		--sidebar-image: url(/assets/images/sheikah-invert.jpg) center top/contain repeat;
		--menu-element: #EEE;
		--darker-menu-element: #DDD;
		--menu-element-text-color: black;
		--lighter-menu-element: #DAD7D1;
		--gradient-top: #666;
		--text-color: black;
		--muted-text-color: currentcolor;
		--background: white center top/cover no-repeat;
		--background-filter: transparent;
		--sidebar-link: rgba(0, 0, 0, 0.75);
		--sidebar-link-active: black;
		--sidebar-link-active-weight: bold;
		--shadow-color: #AAA;
		--hover-color: rgba(255, 255, 255, 0.4);
		--light-hover-color: rgba(255, 255, 255, 0.2);
		--bg-filter: none;
		--bg-mask: radial-gradient(rgb(128,128,128), transparent 100%);
		--text-shadow: currentcolor;
	}

	.page-padding {
		width:100%;
		padding-top: 0.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	#sidebar {
		display: none;
	}

	.carousel.slide {
		display: none;
	}

	.bttbtn {
		display: none !important;
	}
}

#contactMeButtons a img {
	height: 2rem;
}

.dropdown:hover .collapse {
	display: block!important;
}

.gist-meta, .gist .blob-num {
	display: none;
}

.gist #file-my-activity {
	margin-top: .2rem !important;
	margin-bottom: .2rem !important;
}

.gist .blob-code {
	padding-left: 20px;
}

.gist {
	margin-top: .5rem;
}

.socialPageCard {
	padding-top: 50px;
}

.socialPageCard .socialCardImage {
	top: -40px;
	position: absolute;
}

.socialPageCard .socialCardImage img {
	width: 96px;
	height: 96px;
}

.socialPageCard .socialCardTitle {
	left: 112px;
	top: -30px;
	position: absolute;
	padding: 5px 10px;
	background-color: var(--darker-menu-element);
}

.socialPageCard .socialCardNote {
	margin-left: 100px;
	margin-right: 10px;
	margin-top: 12.5px;
	font-size: .875em;
}

.socialPageCard .socialCardContent {
	background: var(--menu-element);
	color: var(--menu-element-text-color);
	text-shadow: var(--text-shadow);
	box-shadow: 5px 5px 5px var(--shadow-color) !important;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 4px;
	padding: 10px;
	width: 100%;
	position: relative;
}

.socialCardContent .socialCardButtons {
	right: 0px;
	bottom: 0px;
	text-align: right;
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-525 {
		flex: 0 0 auto;
		width: 43.75%;
	}

	.col-md-55 {
		flex: 0 0 auto;
		width: 45.833333%;
	}

	.col-md-65 {
		flex: 0 0 auto;
		width: 54.166667%;
	}

	.col-md-675 {
		flex: 0 0 auto;
		width: 56.25%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.col-lg-525 {
		flex: 0 0 auto;
		width: 43.75%;
	}

	.col-lg-55 {
		flex: 0 0 auto;
		width: 45.833333%;
	}

	.col-lg-65 {
		flex: 0 0 auto;
		width: 54.166667%;
	}

	.col-lg-675 {
		flex: 0 0 auto;
		width: 56.25%;
	}
}

.text-muted {
	color: var(--muted-text-color) !important;
}

table>:not(caption)>*>* {
	padding: .5rem .5rem;
}

th {
	background-color: var(--lighter-menu-element);
	padding: 20px;
}

tbody {
	background-color: var(--menu-element);
}

tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.15);
}