:root {
	--main-bg-color: #00000F;
	--close-menu-arrow: "\f053";
	--open-menu-arrow: "\f054";
	--menu-element: #02194B;
	--darker-menu-element: #01083A;
	--menu-element-text-color: white;
	--lighter-menu-element: #132A5C;
	--gradient-top: #020C49;
	--text-color: white;
	--background: url('../images/starBG.jpg') center top/cover no-repeat;
	--background-filter: rgba(0, 0, 15, 0.8);
	--sidebar-link: rgba(255, 255, 255, 0.6);
	--sidebar-link-active: white;
}

body {
	color: var(--text-color);
	width: 100%;
	background-color: var(--main-bg-color);}

html {
	scroll-behavior: smooth; }

#tsparticles {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	filter: blur(2px) brightness(.90);
	-webkit-filter: blur(2px) brightness(.90);
}

.bg {
	background: var(--background);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -2;

	filter: blur(5px) brightness(.75);
	-webkit-filter: blur(5px) brightness(.75);
}

@media (min-width: 991.98px) {
	.bg {
		mask-image: radial-gradient(black, transparent 100%);
		-webkit-mask-image: radial-gradient(black, transparent 100%);
	}
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease; }
	a:hover, a:focus {
		text-decoration: none !important;
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none; }

button {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease; }
	button:hover, button:focus {
		text-decoration: none !important;
		outline: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important; }

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; }

#sidebar {
	min-width: 300px;
	max-width: 300px;
	background: var(--main-bg-color);
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	min-height: 100vh;
	z-index: 100;

	-moz-box-shadow:    3px 0 5px 0 #000;
	-webkit-box-shadow: 3px 0 5px 0 #000;
	box-shadow:         3px 0 5px 0 #000; }
	#sidebar.active {
		margin-left: -295px; }
		#sidebar.active .custom-menu {
			margin-right: -18px; }
		#sidebar.active .btn:before {
			content: var(--open-menu-arrow);
			font-family: "ForkAwesome";
			left: 2px !important; }
		#sidebar.active .btn:after {
			display: none; }
	#sidebar ul li {
		font-size: 17px; }
		#sidebar ul li > ul {
			margin-left: 10px; }
			#sidebar ul li > ul li {
				font-size: 14px; }
		#sidebar ul li a {
			padding: 5px 20px;
			display: block;
			color: var(--sidebar-link); }
			#sidebar ul li a span.notif {
				position: relative; }
				#sidebar ul li a span.notif small {
					position: absolute;
					top: -3px;
					bottom: 0;
					right: 0px;
					width: 12px;
					height: 12px;
					font-family: "Poppins", Arial, sans-serif;
					font-size: 8px; }
			#sidebar ul li a:hover {
				background: var(--menu-element); }
		#sidebar ul li.active > a {
			background: transparent;
			color: var(--sidebar-link-active); }
			#sidebar ul li.active > a:hover {
				background: var(--menu-element); }
	#sidebar .custom-menu {
		display: inline-block;
		position: absolute;
		top: 1rem;
		right: 0;
		margin-right: -15px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s; }
		@media (prefers-reduced-motion: reduce) {
			#sidebar .custom-menu {
				-webkit-transition: none;
				-o-transition: none;
				transition: none; } }
		#sidebar .custom-menu .btn {
			background: var(--menu-element);
			position: relative;
			color: var(--menu-element-text-color);
			border-width: .1rem;
			border-color: var(--darker-menu-element);
			width: 30px;
			height: 30px; }
			#sidebar .custom-menu .btn:hover {
				background: var(--lighter-menu-element); }
			#sidebar .custom-menu .btn:after, #sidebar .custom-menu .btn:before {
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				bottom: 0;
				font-family: "ForkAwesome"; }
			#sidebar .custom-menu .btn:after {
				content: var(--close-menu-arrow);
				right: 2px; }
	@media (max-width: 991.98px) {
		#sidebar {
			margin-left: -300px;
			position: fixed; }
			#sidebar .custom-menu {
				margin-right: -25px !important; }
				#sidebar .custom-menu .btn:before {
					content: var(--open-menu-arrow);
					font-family: "ForkAwesome";
					right: 2px; }
					#sidebar .custom-menu .btn:after {
						display: none; }
			#sidebar.active {
				margin-left: 0; }
				#sidebar.active .btn:before {
					content: var(--close-menu-arrow);
					font-family: "ForkAwesome";
					left: 2px !important; }
				#sidebar.active .btn:after {
					display: none; } }

.bg-wrap {
	width: 100%;
	z-index: 0;
	position: relative; }
	.bg-wrap .user-logo .img {
		width: 200px;
		height: 200px;
		background-image: url('../images/logo.png');
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 10px; }
	.bg-wrap .user-logo h4 {
		color: var(--sidebar-link-active);
		font-family: 'Comfortaa', cursive;
		font-style: normal; }

#content {
	background-color: var(--background-filter);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-height: 100vh; }

.bttbtn {
	width: 40px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50%;
	color: #FFF;
	padding-top: 8px; }
	.bttbtn:hover {
		color: #FFF; }

.card {
	background: var(--menu-element);
	color: var(--menu-element-text-color);
	box-shadow: 5px 5px 5px black !important;
}

.card-img, .card-img-top {
	background: rgba(0, 0, 0, 0.6);
}

.card-img.invert, .card-img-top.invert {
	background: rgba(255, 255, 255, 0.4);
	filter: invert(100%)
}

.card .card-body a {
	color: var(--menu-element-text-color);
	text-decoration: underline;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.card .card-body a.h5:not(.cardShareLinks):hover {
	text-decoration: underline !important;
	font-size: 1.3rem;
}

.card .card-body .cardShareLinks a:hover {
	font-size: 1.1rem;
}

.bottomLinks {
	bottom: 0;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.mw-25 {
	max-width: 25%;
}

@media (min-width: 991.98px) {
	.shareCard {
		width: 20rem;
	}
}

h1 .header-link,
h2 .header-link,
h3 .header-link,
h4 .header-link,
h5 .header-link,
h6 .header-link {
	float: left;
	margin-left: -1.2em;
	font-size: 0.6em;
	line-height: 2;
 opacity:0;
 z-index: 5;
 -webkit-transition:opacity .2s ease-in-out .1s;
 -moz-transition:opacity .2s ease-in-out .1s;
 -o-transition:opacity .2s ease-in-out .1s;
 transition:opacity .2s ease-in-out .1s
}
h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
 opacity:1
}

.page-padding {
	width:100%;
	padding-top: 0.5rem;
	padding-left: 4rem;
	padding-right: 2rem;
}

@media (min-width: 991.98px) {
	.page-padding {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 4.5rem;
		padding-right: 4.5rem;
	}
}

pre {
	border-radius: 0.5rem;
	border-color: var(--lighter-menu-element);
	border-style: solid;
	border-width: .1rem;
	background-color: var(--menu-element);
	padding: 1rem;
	color: var(--menu-element-text-color);
}

img {
	max-width: 100%;
}

.themeDot {
	height: 2rem;
	width: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 50%;
	display: inline-block;
}