:root {
	--close-menu-arrow: url("/assets/images/icons/icons8-back-48.png");
	--open-menu-arrow: url("/assets/images/icons/icons8-forward-48.png");

	--main-bg-color: #00000F;
	--menu-element: #02194B;
	--darker-menu-element: #01083A;
	--menu-element-text-color: white;
	--lighter-menu-element: #132A5C;
	--gradient-top: #020C49;
	--text-color: white;
	--background: url('/assets/images/starBG.jpg') center top/cover no-repeat;
	--background-filter: rgba(0, 0, 15, 0.8);
	--sidebar-link: rgba(255, 255, 255, 0.6);
	--sidebar-link-active: white;
	--shadow-color: black;
	--hover-color: rgba(255, 255, 255, 0.4);
	--light-hover-color: rgba(255, 255, 255, 0.2);
	--sidebar-link-active-weight: normal;
}

body {
	color: var(--text-color);
	width: 100%;
	background-color: var(--main-bg-color);}

html {
	scroll-behavior: smooth; }

#tsparticles {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	filter: blur(2px) brightness(.90);
	-webkit-filter: blur(2px) brightness(.90);
}

.bg {
	background: var(--background);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -2;

	filter: blur(5px) brightness(.75);
	-webkit-filter: blur(5px) brightness(.75);
}

@media (min-width: 991.98px) {
	.bg {
		mask-image: radial-gradient(black, transparent 100%);
		-webkit-mask-image: radial-gradient(black, transparent 100%);
	}
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	text-decoration: none; }
	a:hover, a:focus {
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none; }

button {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease; }
	button:hover, button:focus {
		text-decoration: none !important;
		outline: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important; }

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; }

#gradient-sidebar {
	position: absolute;
	background-image: linear-gradient(var(--gradient-top), var(--main-bg-color));
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: var(--main-bg-color);
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	min-height: 100vh;
	z-index: 100;

	-moz-box-shadow:    3px 0 5px 0 var(--shadow-color);
	-webkit-box-shadow: 3px 0 5px 0 var(--shadow-color);
	box-shadow:         3px 0 5px 0 var(--shadow-color); }
	#sidebar.active {
		margin-left: -245px; }
		#sidebar.active .custom-menu {
			margin-right: -18px; }
		#sidebar.active .btn:before {
			content: '';
			background-image: var(--open-menu-arrow);
			background-size: 100% auto;
			font-family: "ForkAwesome";
			left: 2px !important; }
		#sidebar.active .btn:after {
			display: none; }
	#sidebar ul#sidebarLinks li {
		font-size: 18px; }
		#sidebar ul#sidebarLinks li > ul li {
			margin-left: 10px;
			font-size: 15px; }
		#sidebar ul#sidebarLinks li a {
			padding: 5px 20px;
			display: flex;
			align-items: center;
			color: var(--sidebar-link);

			border-top-width: thin;
			border-bottom-width: thin;
			border-left-width: 0;
			border-right-width: 0;
			border: thin solid transparent;
			border-image-slice: 1; }
			#sidebar ul#sidebarLinks li a img {
				width: 18px;
				height: 18px;}
			#sidebar ul#sidebarLinks li a span.notif {
				position: relative; }
				#sidebar ul#sidebarLinks li a span.notif small {
					position: absolute;
					top: -3px;
					bottom: 0;
					right: 0px;
					width: 12px;
					height: 12px;
					font-family: "Poppins", Arial, sans-serif;
					font-size: 8px; }
			#sidebar ul#sidebarLinks li a:hover {
				background: var(--light-hover-color);
				border-color: var(--hover-color); }
		#sidebar ul#sidebarLinks li.active > a {
			color: var(--sidebar-link-active);
			font-weight: var(--sidebar-link-active-weight); }
	#sidebar .custom-menu {
		display: inline-block;
		position: absolute;
		top: 1rem;
		right: 0;
		margin-right: -15px;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s; }
		@media (prefers-reduced-motion: reduce) {
			#sidebar .custom-menu {
				-webkit-transition: none;
				-o-transition: none;
				transition: none; } }
		#sidebar .custom-menu .btn {
			background: var(--menu-element);
			position: relative;
			color: var(--menu-element-text-color);
			border-width: .1rem;
			border-color: var(--darker-menu-element);
			width: 30px;
			height: 30px; }
			#sidebar .custom-menu .btn:hover {
				background: var(--lighter-menu-element); }
			#sidebar .custom-menu .btn:after, #sidebar .custom-menu .btn:before {
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				bottom: 0;
				font-family: "ForkAwesome"; }
			#sidebar .custom-menu .btn:after {
				content: '';
				background-image: var(--close-menu-arrow);
				background-size: 100% auto;
				right: 2px; }
	@media (max-width: 991.98px) {
		#sidebar {
			margin-left: -250px;
			position: fixed; }
			#sidebar .custom-menu {
				margin-right: -25px !important; }
				#sidebar .custom-menu .btn:before {
					content: '';
					background-image: var(--open-menu-arrow);
					background-size: 100% auto;
					font-family: "ForkAwesome";
					right: 2px; }
					#sidebar .custom-menu .btn:after {
						display: none; }
			#sidebar.active {
				margin-left: 0; }
				#sidebar.active .btn:before {
					content: '';
					background-image: var(--close-menu-arrow);
					background-size: 100% auto;
					font-family: "ForkAwesome"; }
				#sidebar.active .btn:after {
					display: none; } }

.bg-wrap {
	width: 100%;
	z-index: 0;
	position: relative; }
	.bg-wrap .user-logo img {
		width: 195px;
		height: 195px;
		border-radius: 50%;
		margin: 0 auto; }

#content {
	background-color: var(--background-filter);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	min-height: 100vh; }

.bttbtn {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50%;
	color: #FFF;
	padding: 8px; }
	.bttbtn:hover {
		color: #FFF; }

.card {
	background: var(--menu-element);
	color: var(--menu-element-text-color);
	box-shadow: 5px 5px 5px var(--shadow-color) !important;
}

.card-img, .card-img-top {
	background: rgba(0, 0, 0, 0.6);
}

.card-img.invert, .card-img-top.invert {
	background: rgba(255, 255, 255, 0.4);
	filter: invert(100%)
}

.card .card-body a {
	color: var(--menu-element-text-color);
	text-decoration: underline;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.card .card-body a.h5:not(.cardShareLinks):hover {
	text-decoration: underline !important;
	font-size: 1.3rem;
}

.card .card-body .cardShareLinks {
	justify-content: center;
	display: flex;
	align-items: center;
}

.card .card-body .cardShareLinks a img {
	width: 2em;
}

.card .card-body .cardShareLinks a .fa {
	font-size: 2em;
}

.bottomLinks {
	bottom: 0;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	color: var(--text-color);
}

.mw-25 {
	max-width: 25%;
}

@media (min-width: 991.98px) {
	.shareCard {
		width: 20rem;
	}
}

.anchor {
	float: left;
	opacity:0;
	z-index: 5;
	-webkit-transition:opacity .2s ease-in-out .1s;
	-moz-transition:opacity .2s ease-in-out .1s;
	-o-transition:opacity .2s ease-in-out .1s;
	transition:opacity .2s ease-in-out .1s
}
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
 opacity:1
}

.anchor img {
	padding: 6px;
}

.page-padding {
	width:100%;
	padding-top: 0.5rem;
	padding-left: 4rem;
	padding-right: 2rem;
}

@media (min-width: 991.98px) {
	.page-padding {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 4.5rem;
		padding-right: 4.5rem;
	}
}

pre {
	border-radius: 0.5rem;
	border-color: var(--lighter-menu-element);
	border-style: solid;
	border-width: .1rem;
	background-color: var(--menu-element);
	padding: 1rem;
	color: var(--menu-element-text-color);
}

img {
	max-width: 100%;
}

.themeDot {
	height: 2rem;
	width: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 50%;
	display: inline-block;
}

.nstooltip {
	position: relative;
	transition: all .3s ease; }
	.nstooltip:before {
		content: "";
		position: absolute;
		opacity: 0;
		pointer-events: none;
		bottom: 0.7em;
		left: 50%;
		transform: translate3d(-50%, 0%, 0);
		transition: all .15s ease;
		transition-delay: .05s;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #282828 transparent transparent transparent; }
	.nstooltip:after {
		text-transform: none;
		content: attr(data-tooltip);
		font-size: 14px;
		position: absolute;
		color: #fff;
		background: #282828;
		padding: 4px 6px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		max-width: 200px;
		opacity: 0;
		pointer-events: none;
		left: 50%;
		top: 0;
		border-radius: 4px;
		transform: translate3d(-50%, 0%, 0);
		transition: all .15s ease;
		transition-delay: .05s; }
	.nstooltip:hover {
		background-color: rgba(0, 0, 0, 0.12); }
		.nstooltip:hover:before, .nstooltip:hover:after {
			opacity: 1; }
			.nstooltip:hover:before {
				transform: translate3d(-50%, calc(-100% - 18px), 0); }
			.nstooltip:hover:after {
				transform: translate3d(-50%, calc(-100% - 16px), 0); }