---
layout: compress
---

<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<title>{% if site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<meta name="og:title" content="{% if site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
		<meta property="og:title" content="{% if site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
		<meta name="twitter:title" content="{% if site.title != page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />

		<link rel="manifest" href="/assets/site.webmanifest">
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta charset="utf-8">
		<meta name="viewport" id="meta-zoom" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">

		<meta name="keywords" content="NightScript, NightYoshi, NightYoshi370" />
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
		<meta name="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
		<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

		<link rel='icon' href='/assets/images/avatar.png'>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/avatar.png" />
		<link rel="apple-touch-icon" sizes="192x192" href="/assets/images/avatar.png">
		<meta name="og:image" content="/assets/images/avatar.png">
		<meta property="og:image" content="/assets/images/avatar.png">
		<meta name="twitter:image" content="/assets/images/avatar.png">

		<meta name="theme-color" content="#1C9934" />
		<meta name="msapplication-navbutton-color" content="#1C9934">
		<meta name="twitter:widgets:link-color" content="#1C9934">
		<meta name="twitter:widgets:border-color" content="#1C9934">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="HandheldFriendly" content="true">

		<link rel="canonical" href="https://nightyoshi370.github.io" />
		<meta name="og:url" content="https://nightyoshi370.github.io" />
		<meta property="og:url" content="https://nightyoshi370.github.io" />

		<meta name="og:site_name" content="NightScript Domain" />
		<meta property="og:site_name" content="NightScript Domain" />

		<meta name="og:type" content="website" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@NightScript" />

		<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		{% if page.syntax-highlight %}
			<link rel="stylesheet" href="/assets/css/syntax.css">
		{% endif %}
		{% if page.carousel %}
			<link rel="stylesheet" href="/assets/css/carousel.css">
		{% endif %}
		{% if page.listinnumber %}
			<style>
				ol ol, ol ul, ul ol, ul ul {
					margin-bottom: 1rem;
				}
			</style>
		{% endif %}

		<link rel="stylesheet" href="/assets/css/themes/light.css">
		<link rel="stylesheet" href="/assets/css/themes/amoled.css">
		<link rel="stylesheet" href="/assets/css/themes/discord.css">
		<link rel="stylesheet" href="/assets/css/themes/default.css">
		<script src="/assets/js/sidebar/themeSwitch.js"></script>

		<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
		<script>
			window.OneSignal = window.OneSignal || [];
			OneSignal.push(() => OneSignal.init({ appId: "2492bd69-a16e-4fd4-98b6-5b9fbf00ebd4" }));
		</script>
	</head>
	<body class="d-flex">
		<div class="bg"></div>
		<nav id="sidebar">
			<div id="gradient-sidebar"></div>
			<div id="sidebar-logo" class="img bg-wrap text-center">
				<div class="user-logo pt-3">
					<img src="/assets/images/servericon.png">
				</div>
			</div>
			<div class="custom-menu"><button type="button" id="sidebarCollapse" class="btn" aria-label="Toggle Sidebar"></button></div>
			<ul class="list-unstyled mb-0" id="sidebarLinks">
				{% for item in site.data.nav.sidebar %}
					{% if item.url %}
						<li {% if item.url == page.permalink %}class="active"{% endif %}>
							<a href="{{ item.url }}" class="proxim">
								{% if item.icon %}
									{% if item.notif %}
										<span class="fa fa-fw fa-{{ item.icon }} mr-1 notif">
											<small class="badge badge-pill badge-danger d-flex justify-content-center">{{ item.notif }}</small>
										</span>
									{% else %}
										<span class="fa fa-fw fa-{{ item.icon }} mr-1"></span>
									{% endif %}
								{% elsif item.image %}
									<img src="{{item.image}}" class="mr-2">
								{% endif %} {{ item.title }}</a>
						</li>
					{% endif %}
					{% if item.items %}
						{% assign submenu = item.title | append: "Submenu" | replace: " ", "" %}
						<noscript><div class="dropdown"></noscript>
							<li {% for entry in item.items %}{% if entry.url == page.permalink %}class="active"{% endif %}{% endfor %}>
								<a href="#{{ submenu }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle proxim">
									{% if item.icon %}
										{% if item.notif %}
											<span class="fa fa-fw fa-{{ item.icon }} mr-1 notif">
												<small class="badge rounded-pill bg-danger d-flex justify-content-center">{{ item.notif }}</small>
											</span>
										{% else %}
											<span class="fa fa-fw fa-{{ item.icon }} mr-1"></span>
										{% endif %}
									{% elsif item.image %}
										<img src="{{item.image}}" class="mr-2">
									{% endif %} {{ item.title }}</a>
								<ul class="collapse list-unstyled" id="{{ submenu }}">
									{% for entry in item.items %}
										<li {% if entry.url == page.permalink %}class="active"{% endif %}><a href="{{entry.url}}">{{entry.title}}</a></li>
									{% endfor %}
								</ul>
							</li>
						<noscript></div></noscript>
					{% endif %}
				{% endfor %}
			</ul>
			<span class="bottomLinks text-center mb-2">
				<div id="themesContainer"></div>
				<ul class="list-unstyled">
					{% for item in site.data.nav.footer %}
						<li><a href="{{item.url}}">{{item.title}}</a></li>
					{% endfor %}
				</ul>
				By NightScript, Icons8 & co.
			</span>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="page-padding">
			{{ content }}

			<a href="#" class="bttbtn bg-dark d-flex justify-content-center" id="bttbtn" aria-label="Back to top">
				<img src="/assets/images/icons/arrow.png">
			</a>
		</div>

		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		{% if page.syntax-highlight %}
			<script src="/assets/js/syntaxHighlight.js"></script>
		{% endif %}
		<script src="/assets/index.js" type="module"></script>
		<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
		{% if page.landing %}
		<script type="module">
			import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

			const el = document.createElement('pwa-update');
			document.body.appendChild(el);
		</script>
		<script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"></script>
		{% endif %}
	</body>
</html>